.all-teams-page{
	background:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)),url("../../assets/Allteams.png") no-repeat center center;
	background-size:cover;
}


.all-teams-div {
	display: flex !important;
	flex-direction: column !important;
	/* justify-content: center; */
	align-items: center !important;
}

.search-container {
	width: 40%;
	margin-bottom: 3.55%;
}

.search-box {
	width: 100%;
}

.search-box .MuiOutlinedInput-notchedOutline {
	border-width: 3px !important;
	border-color: #28CEF1 !important;
	border-radius: 15px !important;
}

.search-box .MuiFormLabel-root {
	font-weight: bold !important;
}

.search-box .MuiFormLabel-root.Mui-focused {
	color: #28CEF1 !important;
}

.all-teams-list {
	/* margin-top: 10%; */
	width: 60%;
}

@media screen and (max-width: 960px) {
	.search-container {
		width: 70%;
	}
	.all-teams-list {
		width: 90%;
	}
}