.Idea-Description {
  padding-bottom: 15rem;
}

.Idea-name {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px solid transparent;
  padding-left: 29px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #1C006F;
  color: #3000C0;
}

textarea::placeholder {
  color: #3000C0;
  opacity: 1;
}
.team-primary-btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  border-radius: 15px;
  background: linear-gradient(91.89deg, #6f57ff -5.11%, #25d8ff 152.73%);
  color: white;
  height: 55px;
  width: 300px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1%;
}