.Idea-Description {
  padding-bottom: 15rem;
}

.Idea-name {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px solid transparent;
  padding-left: 29px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(18, 0, 72, 1);
  color: #3000C0;
}

textarea::placeholder {
  color: #3000C0;
  opacity: 1;
}