.Idea-Description {
  padding-bottom: 15rem;
}

.Idea-name {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px solid transparent;
  padding-left: 29px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #1c006f;
  color: #3000c0;
}

textarea::placeholder {
  color: #3000c0;
  opacity: 1;
}

.team-primary-btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  border-radius: 15px;
  background: linear-gradient(91.89deg, #6f57ff -5.11%, #25d8ff 152.73%);
  color: white;
  height: 55px;
  width: 300px;
  font-weight: 600;
  font-size: 1.2rem;
  /* margin-top: 1%; */
}

.discord {
  display: flex;
  background-color: rgb(114, 137, 218);
  color: rgb(255, 255, 255);
  border: none;
  margin: 30px 10px;
  outline: none;
  font-size: 1.4rem;
  border-radius: 4px;
  align-items: center;
  padding: 8px 20px;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0px 0px 7px rgba(114, 137, 218, 0.8);
}

.discord:hover {
  background-color: rgba(114, 137, 218, 0.9);
}

.discord img {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.insta {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important; */
  background-color: pink;
}
