.user_profile_picture {
  width: 9.5rem !important;
  height: 9.5rem !important;
}


.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  
}

.users-name{
  /* margin-top: -1rem; */
  /* font-size: 2rem; */
}


.users-email{
  font-size: 1.2rem;
  font-weight: lighter;
  list-style: none;
  text-decoration: none;
  color:whitesmoke;
}

.users-phone{
  font-size: 1.35rem;
  font-weight: normal;
}

.social {
  margin: 20px 0 10px 0;
  /* display: flex; */
}

.social a {
  text-decoration: none;
  color: #fff !important;
}

.social svg {
  font-size: 2rem;
  margin: 0 3px;
}

@media screen and (max-width: 600px) {
  .profile-btn {
    width: 160px;
    margin: 5px;
    height: 40px;
  }
  .user_profile_picture {
    margin: auto;
  }
  .profile-data {
    text-align: center;
    font-size: 13px;
  }
  .social {
    display: flex;
    justify-content: center;
  }
}
