.page-title {
  padding-left: 2%;
  margin: 15px 0 0 0;
  width: fit-content;
  padding-right: 50px;
  overflow: hidden;
  height: 36px;
}

.user-btn {
  outline: none;
  position: absolute;
  right: 2%;
  top: 3%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px #3051ff);
  cursor: pointer;
}

.user-btn div {
  width: 60px !important;
  height: 60px !important;
}